/* add your styles here */
.parent{
    display:grid;
    justify-content: center;
    row-gap: 20px;
    column-gap: 300px;

}

#image{
    height: 50vh;
    width: 40vw;
    position: relative;
    left: 140px;
    
   
}
h3{
    text-align: center;
}